<div id="payslips_index">
  <h2 class="page_title">
    <%= @company.name  %> : <br /> Fiches de paie.
  </h2>
  <div class="d-flex justify-content-evenly border">
    <%= simple_form_for Payslip.new, url: company_payslips_path(@company), data: {turbo_method: :post} do |form| %>
      <%= form.input :employee_id, label: "Nouvelle fiche de paie pour :", collection: @company.employees.distinct, label_method: :lastname_with_firstname, value_method: :id, include_blank: false %>
      <%= form.input :job_profile, label: ", en tant que :", collection: JobProfile.all, label_method: :name, value_method: :id, include_blank: false %>
      <%= form.input :performance_id, label: ", concernant le spectacle :", collection: @company.performances, label_method: :name, value_method: :id, include_blank: false %>
      <%= form.input :contract_start, label: "embauche prévue le :", as: :date, html5: true, input_html: { value: Date.today } %>
      <%= form.submit %>
    <% end %>
  </div>
  <div id="payslips_board_container">
    <% if @payslips.present? %>
      <ul class='payslips_board_title'>
        <% month_list = ["janvier","février","mars","avril","mai","juin","juillet","août","septembre","octobre","novembre","décembre"]%>
        <% month_list.each_with_index do |month, index| %>
          <li>
            <h4><%= month.upcase %></h4>
            <div class="payslips_list">
              <% @payslips.each do |payslip| %>
                <% if payslip.contract_start? %>
                  <% payslip_contract_start_month = Date.parse((payslip.contract_start).to_s).strftime("%m") %>
                  <% else %>
                  <% payslip_contract_start_month = "--" %>
                <% end %>
                <% if payslip_contract_start_month.to_i == index + 1 %>
                  <%= link_to company_payslip_path(payslip.company,payslip.id), class: "job_profile_card" do %>
                    <p>
                      <%= payslip.employee.lastname %>
                      <%= payslip.employee.firstname %>,
                      <%= "#{payslip.job_profile} #{payslip.artist? ? '( Artiste' : '( Non-artiste'} #{payslip.executive? ? 'Cadre )' : 'Non-cadre )'}" %>,
                      Du <%= payslip.contract_start %> au <%= payslip.contract_end %>
                      pour "<%= payslip.performance.name %>".
                    </p>
                    </a>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div id="no_result">Pas de résultats</div>
    <% end %>

  </div>
</div>
