<div class="container">
  <h2 class="page_title">
    <%= "Bulletin de paie n° #{@payslip.payslip_number},
      #{@payslip.employee.lastname} #{@payslip.employee.firstname}"
      %>
  </h2>
  <div class="d-flex justify-content-center p-3">
    <%= link_to "Modifier la fiche de paie", edit_company_payslip_url, class: "btn-flat me-3" %>
    <% if @payslip.is_last_payslip? %>
      <%= link_to "Supprimer cette fiche de paie",
        company_payslip_path(@company, @payslip),
        class: "btn-flat",
        data: {
          turbo_method: :delete,
          turbo_confirm: "Supprimer cette fiche de paie ?"
        }
      %>
    <% end %>
  </div>
  <div class="d-flex justify-content-between p-3">
    <div>
      <p><%= @company.name %><br /><%= @company.address %></p>
      <p>Siret : <%= @company.siret %></p>
      <p>Code APE : <%= @company.naf %></p>
    </div>
    <div>
      <p><%= @payslip.employee.firstname  %> <%= @payslip.employee.lastname.upcase %></p>
      <p><%= @payslip.employee.address  %></p>
    </div>
  </div>
  <div class="d-flex justify-content-between black_border_bottomless p-3">
    <div>
      <p>Emploi : <%= @payslip.job_profile %></p>
      <p>Statut : <%= @payslip.executive? ? "Cadre" : "Non-cadre" %></p>
      <p>N.I.R. : <%= @payslip.employee.NIR %></p>
      <p>N° de Congés Spectacles : <%= @payslip.employee.conges_spectacles %></p>
    </div>
    <div>
      <p>Période du <%= @payslip.contract_start %> au <%= @payslip.contract_end %>.</p>
      <p>Règlement du <%= @payslip.payment_date %>. Réf. : <%= @payslip.payment_id %></p>
      <p>Numéro d'objet : <%= @payslip.performance.num_objet %>.</p>
    </div>
  </div>
  <table class="table table-bordered black_border p-3">
    <thead>
      <tr>
        <th scope="col" rowspan="3" colspan="2">
          <p>
            Nombre de jours travaillés :
            <strong>
              <%= (@payslip.contract_end - @payslip.contract_start).to_i + 1 if @payslip.contract_end? %>
            </strong>
          </p>
          <% if @payslip.artist? %>
            <p>
              Combien de services de répétition ? : <%= @payslip.number_of_rehearsal %><br />
              Combien de représentations ? : <%= @payslip.number_of_performance %><br />
            </p>
          <% else %>
            <p>
              Nombre d'heures par jour : <%= @payslip.hours_per_day %><br />
              Nombre d'heures total : <%= @payslip.number_of_hours %><br />
            </p>
          <% end %>
        </th>
        <th scope="col">Base</th>
        <th colspan="4"></th>
      </tr>
      <tr>
        <th><strong><%= sprintf("%.2f", @payslip.basis) if @payslip.basis.present? %></strong></th>
        <th colspan="2">Part salariale</th>
        <th colspan="2">Part patronale</th>
        </tr>
      <tr>
        <th></th>
        <th scope="col">Taux</th>
        <th scope="col">Montant</th>
        <th scope="col">Taux</th>
        <th scope="col">Montant</th>
      </tr>
    </thead>
    <tbody>
      <% @payslip.contributions.each do |contribution| %>
        <tr>
          <td><%= contribution.fund %></td>
          <td><%= contribution.name %></td>
          <td><%= sprintf("%.2f", @payslip.basis)%></td>
          <% if contribution.employee_part != 0 %>
            <td><%= (contribution.employee_part*100).round(2) %>%</td>
            <td><%= sprintf("%.2f",(contribution.employee_part*@payslip.basis).floor(2)) %></td>
            <% else %>
            <td></td>
            <td></td>
          <% end %>
          <% if contribution.employer_part != 0 %>
            <td><%= (contribution.employer_part*100).round(2) %>%</td>
            <td><%= (contribution.employer_part*@payslip.basis).floor(2) %></td>
            <% else %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td>Totaux</td>
        <td></td>
        <td><strong><%= sprintf("%.2f",(@payslip.employee_s_contribution).floor(2)) %></strong></td>
        <td></td>
        <td><strong><%= sprintf("%.2f",(@payslip.employer_s_contribution).floor(2)) %></strong></td>
      </tr>
    </tbody>
  </table>
</div>
