<h2 class="page_title"><%= @employee.lastname_with_firstname %></h2>
<div class="container">
  <div class="d-flex border-bottom border-dark-subtle pb-4 mb-4">
    <div class="d-flex me-4">
      <%= cl_image_tag @employee.photo.key, height: 200, width: 200, crop: :fill if @employee.photo.attached? %>
      <ul>
        <li>Date de naissance : <%= @employee.date_of_birth %></li>
        <li>Lieu de naissance : <%= @employee.place_of_birth %></li>
        <li> <%= "Département de naissance : #{@employee.departement_of_birth}" if @employee.departement_of_birth.present? %></li>
        <li>Pays de naissance : <%= @employee.country_of_birth %></li>
        <li>Adresse : <%= @employee.address %></li>
        <li>
          Téléphone(s) : <%= @employee.phone %>
          <%= ", #{@employee.phone_2}" if @employee.phone_2.present? %>
        </li>
        <li>Sécurité Sociale : <%= @employee.NIR %></li>
        <li>Congés Spectacle : <%= @employee.conges_spectacles %></li>
      </ul>
    </div>
    <div class="d-flex flex-column align-items-end">
      <%= link_to "Modifier les données de l'employé", edit_company_employee_url, class: "btn-flat d-block margin_auto_0" %>
    </div>
  </div>
  <div>
    <h3>Ses fiches de paie cette année</h3>
    <ul class="p-0">
      <% @employee.payslips.each do |payslip| %>
        <li class="li_margin-top">
          <%= link_to company_payslip_url(@employee.company, payslip) do %>
            <div class="payslip_card">
              <%= "Du #{payslip.contract_start} au #{payslip.contract_end} pour #{payslip.performance.name}" %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
    <%= link_to "Supprimer", company_employee_url, data: {
      turbo_method: :delete,
      turbo_confirm: "Êtes-vous sûr de vouloir supprimer les données de #{@employee.lastname_with_firstname} ?"
      } %>
</div>
