<%= simple_form_for @company do |f| %>
  <%= f.input :name, label: false,
    input_html: {class: "height24px bg-light"}
  %>
  <%= f.input :specialty,
    label: false,
    input_html: {class: "height24px bg-light"}
  %>
  <div class="d-flex justify-content-between">
    <strong>Siret : </strong>
    <%= f.input :siret,
      label: false,
      input_html: {class: "height24px bg-light"}
    %>
  </div>
  <div class="d-flex justify-content-between">
    <strong>NAF : </strong>
    <%= f.input :naf,
      label: false,
      input_html: {class: "height24px bg-light"}
      %>
  </div>
  <div class="d-flex justify-content-between">
    <strong>Adresse : </strong>
    <%= f.input :address,
      label: false,
      input_html: {class: "height24px bg-light"}
      %>
  </div>
  <div class="d-flex justify-content-between">
    <strong>N° de License : </strong>
    <%= f.input :license_number,
      label: false,
      input_html: {class: "height24px bg-light"}
      %>
  </div>
  <div class="d-flex justify-content-center">
    <%= f.button :submit, "Enregistrer", class: "create_button" %>
  </div>
<% end %>
