<h2 class="page_title">
  <%= @company.name %>
</h2>
<h4>
  <%= link_to "Fiches de paie",
    company_payslips_path(@company),
    id: "payslips_index_link"
  %>
</h4>

<div class="company_section">
  <h4>Les spectacles</h4>
  <ul
    class="d-flex flex-wrap">
    <%= render "performances" %>
    <li class="performance_card">
      <div class="missing_picture text-center">
        <i class="fa-regular fa-file"></i>
      </div>
      <%= simple_form_for([@company, Performance.new(company: @company)]) do |f| %>
        <%= f.input :name,
          input_html: {placeholder: "Titre", class: "m-2 width92p100"},
          label: false,
          required: true
        %>
        <%= f.input :num_objet,
          input_html: {placeholder: "Numéro d'objet", class: "m-2 width92p100"},
          label: false,
          required: true
        %>
        <%= f.input :picture, as: :file %>
        <%= f.button :submit, "Nouveau spectacle", class: "new_performance_submit create_button m-2 width92p100" %>
      <% end %>
    </li>
  </ul>
</div>

<div class="company_section">
  <h4>Employés de la companie :</h4>
  <div class="row">
    <ul class="col-md-6 col-lg-8">
        <% @company.employees.each do |employee| %>
          <li class="d-inline-block employee_card">
            <%= link_to company_employee_path(@company, employee) do %>
              <% if employee.photo.attached? %>
                <%= cl_image_tag employee.photo.key, height: 200, width: 200, crop: :fill %>
              <% else %>
                <div class="missing_picre text-center"><i class="fa-solid fa-user"></i></div>
              <% end %>
              <div class="line_height_53px text-center"><%= employee.lastname_with_firstname %></div>
            <% end %>
          </li>
        <% end %>
    </ul>
    <div class="new_form light_shadow_box m-0 col-md-6 col-lg-4">
      <%= render "new_employee_form"%>
    </div>
  </div>
</div>

<div class="company_section">
  <h4>
    <%= link_to company_path(@company),
      data: { turbo_method: :delete, turbo_confirm: "
        !!! ATTENTION !!!\n
        #{@company.name.upcase}\n
        et toutes ses données seront supprimées.\n
        Cette action est irréversible !"
      } do
    %>
      <h4 class="text-danger">
        Supprimer <%= @company.name %>
        <i class="fa-solid fa-triangle-exclamation"></i>
      </h4>
    <% end %>
</h4>
</div>
