<%= simple_form_for(@job_profile) do |f| %>
  <%= link_to "Annuler", job_profiles_url %>
  <div>
    <%= f.input :name, label: false %>
    <%= f.input :artist, label: "Artiste ?", as: :boolean %>
    <%= f.input :executive, label: "Cadre ?", as: :boolean %>
    <%= f.association :contributions,
      as: :check_boxes,
      label_method: :name,
      input_html: { name: 'job_profile[contributions_ids][]' }
    %>
  </div>
  <%= f.submit %>
<% end %>
