<!DOCTYPE html>
<html>
  <head>
    <title>Cachetons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="m-0 p-0">
    <% if params[:controller] == "pages" %>
      <%= render "shared/flashes" %>
      <%= yield %>
    <% else %>
      <div class="container w-100 m-0 p-0 border border-danger">
        <div class="row">

          <div class="col-12 col-md-4 col-sm-3 sticky-top vh-100 border border-success">
            <%= render "shared/navbar"  %>
          </div>

          <div class="col-12 col-md-8 col-sm-9 p-4 border border-success">
            <%= yield %>
          </div>

          <%= render "shared/flashes" %>

        </div>
      </div>
    <% end %>
  </body>
</html>
